<%- include('./partials/header.ejs') %>

<%if (data==true) { %>
  <script type="text/javascript">
  const link=document.getElementById('sign');
  link.href='/signout';
  link.textContent='Sign Out';
  
  </script>

  <% } %>




<div class="container">

    <table class="table" id="myTable">
        <thead>
          <tr>
            <th scope="col">Blog ID</th>
            <th scope="col">Blog Title</th>
            <th scope="col">Blog Text</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <% blogs.forEach(blog=>{ %>
                <tr>
                  <th scope="row"><%= blog.id %></th>
                  <td><%= blog.title %></td>
                  <td><%= (blog.text).substring(0,50) %></td>
                  <td><a href="/update/<%= blog.id %>" class="btn btn-info">Update</a></td>
                  <td><a href="/delete/<%= blog.id %>" class="btn btn-danger" onclick="deleteRow(this)">Delete</a></td>
                </tr>
        

            <% }) %>
        </tbody>
      </table>


</div>




<%- include('./partials/footer.ejs') %>