<%- include('./partials/header.ejs') %>



<section id="buttons">

    <%if (data==true) { %>
        <script type="text/javascript">
        const link=document.getElementById('sign');
        link.href='/signout';
        link.textContent='Sign Out';
     
        </script>
      
        <div class="container py-2 text-center">
            <a href="/newBlog" class="btn btn-success">New Blog</a>
            <a href="/editBlog" class="btn btn-info">Edit Blog</a>
            
            
        
        </div>
        <% } %>
    



</section>



<section id="blogs">

    <div class="container">
        
        <% blogs.forEach( blog => { %>
            <div class="row d-flex justify-content-center">
      
        <div class="card mt-4 text-center col-md-8" >
            <img class="card-image " src="/images/<%= blog.image %>" />
            <div class="card-body">
                <h5 class="card-title"><%=blog.title %></h5>
                <p class="card-text"><%= (blog.text).substring(0,800) %></p>
              
            </div>



        </div>
    </div>
        <br>
        <hr>
        <br>
        <% }) %>




    </div>


</section>
    


<%- include('./partials/footer.ejs') %>