<%- include('./partials/header.ejs') %>

<div class="container">
<form action="/update/<%=oldData.id %>" method="POST">
  <div class="form-group">
    <label for="blogTitle">Blog ID</label>
    <input type="text" class="form-control" id="blogTitle" placeholder="" name="id" value="<%= oldData.id %>" disabled>
  </div>  
  
  <div class="form-group">
      <label for="blogTitle">Blog Title</label>
      <input type="text" class="form-control" id="blogTitle" placeholder="" name="title" value="<%= oldData.title %>">
    </div>
    
    <div class="form-group">
      <label for="blogText">Blog Text</label>
      <textarea class="form-control" id="blogText" rows="3" name="text" placeholder=""><%= oldData.text %></textarea>
    </div>
    <button class="btn btn-info btn-block" type="submit">Submit</button>
</form>

</div>



<%- include('./partials/footer.ejs') %>